{{ define "main" }}
<div class="aquino-container">
    <div class="intro">
        <h1> São Tomás de Aquino </h1>
        <p>Uma página dedicada a uma das mentes mais influentes de todos os tempos</p>
        </div>
    <div class="sections">
        <div class="section vida">
            <h2>Vida do Santo</h2>
           
            São Tomás de Aquino nasceu em Roccasecca, Itália, em 1225, em uma família nobre. Ele entrou para a Ordem dos Dominicanos quando era jovem, apesar da oposição de sua família.
            Estudou na Universidade de Nápoles e, mais tarde, em Paris, onde foi aluno de Alberto Magno, outro grande filósofo medieval.
            Tomás era conhecido por sua dedicação ao estudo e por sua vasta erudição. Ele escreveu extensivamente sobre filosofia, teologia, ética e outras disciplinas.
            Suas obras mais famosas incluem "Summa Theologica" e "Summa Contra Gentiles", que são tratados abrangentes que exploram questões filosóficas e teológicas fundamentais.
            Ele também foi um defensor da reconciliação entre a fé cristã e a filosofia aristotélica, integrando os ensinamentos de Aristóteles à teologia cristã. Isso teve um impacto significativo na teologia escolástica.
        </div>
        <div class="section obras">
            <h2>Obras </h2>
            "Summa Theologica" é sua obra mais conhecida e aborda uma ampla gama de tópicos teológicos, éticos e filosóficos. Ele discute a existência de Deus, a natureza do homem, a moralidade e muito mais.
            Tomás também escreveu extensivamente sobre a lei, incluindo a "Summa contra Gentiles," que é uma defesa da fé cristã contra não-cristãos, e "De Veritate" ("Da Verdade"), onde ele explora a natureza da verdade.
            Sua filosofia ética é influente, baseada em princípios como a lei natural e a virtude.
            São Tomás é lembrado por sua tentativa de reconciliar a razão e a fé, argumentando que a razão pode ser usada para compreender aspectos da fé cristã.
            Ele também fez contribuições importantes para a teologia sacramental, a doutrina da graça e a filosofia da mente.
            
            São Tomás de Aquino foi canonizado como santo pela Igreja Católica e é reverenciado como Doutor da Igreja. Suas obras continuam a ser estudadas e debatidas por filósofos, teólogos e estudiosos até os dias de hoje, e seu legado perdura como uma das figuras mais importantes na história do pensamento ocidental.
        </div>
    </div>
</div>
{{ end }}
